<div class="numbers">
    <div class="column">
        <div class="actions">
            <div class="label">
                <div class="yellow">CONST</div>
            </div>
            <button>7</button>
        </div>
        <div class="actions">
            <button>4</button>
        </div>
        <div class="actions">
            <button>1</button>
        </div>
        <div class="actions">
            <div class="label">
                <div class="yellow">Rnd</div>
                <div class="red">RndFix</div>
            </div>
            <button>0</button>
        </div>
    </div>

    <div class="column">
        <div class="actions">
            <div class="label">
                <div class="yellow">CONV</div>
            </div>
            <button>8</button>
        </div>
        <div class="actions">
            <button>5</button>
        </div>
        <div class="actions">
            <button>2</button>
        </div>
        <div class="actions">
            <div class="label">
                <div class="yellow">Ran#</div>
                <div class="red">RanInt</div>
            </div>
            <button>,</button>
        </div>
    </div>

    <div class="column">
        <div class="actions">
            <div class="label">
                <div class="yellow">RESET</div>
            </div>
            <button>9</button>
        </div>
        <div class="actions">
            <button>6</button>
        </div>
        <div class="actions">
            <button>3</button>
        </div>
        <div class="actions">
            <div class="label">
                <div class="yellow">&#960;</div>
                <div class="red">e</div>
            </div>
            <button>x10<sup>x</sup></button>
        </div>
    </div>

    <div class="column">
        <div class="actions">
            <div class="label">
                <div class="yellow">INS</div>
                <div class="red">UNDO</div>
            </div>
            <button class="bg-yellow">DEL</button>
        </div>
        <div class="actions">
            <div class="label">
                <div class="yellow">nPr</div>
                <div class="red">GCD</div>
            </div>
            <button>x</button>
        </div>
        <div class="actions">
            <div class="label">
                <div class="yellow">Pol</div>
                <div class="red">Int</div>
            </div>
            <button>+</button>
        </div>
        <div class="actions">
            <div class="label">
                <div class="yellow">%</div>
            </div>
            <button>Ans</button>
        </div>
    </div>

    <div class="column">
        <div class="actions">
            <div class="label">
                <div class="yellow">OFF</div>
            </div>
            <button class="bg-yellow">AC</button>
        </div>
        <div class="actions">
            <div class="label">
                <div class="yellow">nCr</div>
                <div class="red">LCM</div>
            </div>
            <button>
                <svg 
                    viewBox="0 0 448 512" 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="25"
                    height="25" 
                    fill="white"
                >
                    <path d="M400 224h-352c-17.69 0-32 14.31-32 31.1s14.31 32 32 32h352c17.69 0 32-14.31 32-32S417.7 224 400 224zM224 144c26.47 0 48-21.53 48-48s-21.53-48-48-48s-48 21.53-48 48S197.5 144 224 144zM224 368c-26.47 0-48 21.53-48 48s21.53 48 48 48s48-21.53 48-48S250.5 368 224 368z"/>
                </svg>
            </button>
        </div>
        <div class="actions">
            <div class="label">
                <div class="yellow">Rec</div>
                <div class="red">Intg</div>
            </div>
            <button>-</button>
        </div>
        <div class="actions">
            <div class="label">
                <div class="yellow">&#8776;</div>
            </div>
            <button>=</button>
        </div>
    </div>
</div>