<div class="numbers">
    <div class="column">
        <div class="actions">
            <div class="label">
                <div class="shift">CONST</div>
            </div>
            <button>7</button>
        </div>
        <div class="actions">
            <button>4</button>
        </div>
        <div class="actions">
            <button>1</button>
        </div>
        <div class="actions">
            <div class="label">
                <div class="shift">Rnd</div>
                <div class="alpha">RndFix</div>
            </div>
            <button>0</button>
        </div>
    </div>

    <div class="column">
        <div class="actions">
            <div class="label">
                <div class="shift">CONV</div>
            </div>
            <button>8</button>
        </div>
        <div class="actions">
            <button>5</button>
        </div>
        <div class="actions">
            <button>2</button>
        </div>
        <div class="actions">
            <div class="label">
                <div class="shift">Ran#</div>
                <div class="alpha">RanInt</div>
            </div>
            <button>,</button>
        </div>
    </div>

    <div class="column">
        <div class="actions">
            <div class="label">
                <div class="shift">RESET</div>
            </div>
            <button>9</button>
        </div>
        <div class="actions">
            <button>6</button>
        </div>
        <div class="actions">
            <button>3</button>
        </div>
        <div class="actions">
            <div class="label">
                <div class="shift">pi</div>
                <div class="alpha">e</div>
            </div>
            <button>x10²</button>
        </div>
    </div>

    <div class="column">
        <div class="actions">
            <div class="label">
                <div class="shift">INS</div>
                <div class="alpha">UNDO</div>
            </div>
            <button class="yellow">DEL</button>
        </div>
        <div class="actions">
            <div class="label">
                <div class="shift">nPr</div>
                <div class="alpha">GCD</div>
            </div>
            <button>x</button>
        </div>
        <div class="actions">
            <div class="label">
                <div class="shift">Pol</div>
                <div class="alpha">Int</div>
            </div>
            <button>+</button>
        </div>
        <div class="actions">
            <div class="label">
                <div class="shift">%</div>
            </div>
            <button>Ans</button>
        </div>
    </div>

    <div class="column">
        <div class="actions">
            <div class="label">
                <div class="shift">OFF</div>
            </div>
            <button class="yellow">AC</button>
        </div>
        <div class="actions">
            <div class="label">
                <div class="shift">nCr</div>
                <div class="alpha">LCM</div>
            </div>
            <button>
                <svg 
                    viewBox="0 0 448 512" 
                    xmlns="http://www.w3.org/2000/svg" 
                    width="25"
                    height="25" 
                    fill="white"
                >
                    <path d="M400 224h-352c-17.69 0-32 14.31-32 31.1s14.31 32 32 32h352c17.69 0 32-14.31 32-32S417.7 224 400 224zM224 144c26.47 0 48-21.53 48-48s-21.53-48-48-48s-48 21.53-48 48S197.5 144 224 144zM224 368c-26.47 0-48 21.53-48 48s21.53 48 48 48s48-21.53 48-48S250.5 368 224 368z"/>
                </svg>
            </button>
        </div>
        <div class="actions">
            <div class="label">
                <div class="shift">Rec</div>
                <div class="alpha">Intg</div>
            </div>
            <button>-</button>
        </div>
        <div class="actions">
            <div class="label">
                <div class="shift">~~</div>
            </div>
            <button>=</button>
        </div>
    </div>
</div>