.calculator {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
}
  
.circles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
}
  
.circle {
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
}

.c-label {
    height: 16px;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    margin-top: -10px;
    font-weight: 600;
    color: white;
    position: relative;
}

.overLabel {
    position: absolute;
    left: -35px;
}
.overLabel span{font-weight: 600;}
  
.dpad {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    justify-content: center;
    align-items: center;
    gap: -1px;
    margin-bottom: -103px;
    margin-top: 6px;
}

.arrow {
    width: 50px;
    height: 35px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}
  
.up {
    grid-column: 2;
    width: 80px;
    margin-left: -15px;
    clip-path: polygon(
        50% 0%, /* oben Spitze */
        110% 50%, /* rechts oben */
        75% 100%, /* rechts unten */
        25% 100%, /* links unten */
        -10% 50% /* links oben */
    );
}
  
.left {
    grid-column: 1;
    grid-row: 2;
    clip-path: polygon(
        50% 0%, /* oben Spitze */
        110% 50%, /* rechts oben */
        85% 100%, /* rechts unten */
        15% 100%, /* links unten */
        -10% 50% /* links oben */
    );
    transform: rotate(-90deg);
}
  
.right {
    grid-column: 3;
    grid-row: 2;
    clip-path: polygon(
        50% 0%, /* oben Spitze */
        110% 50%, /* rechts oben */
        85% 100%, /* rechts unten */
        15% 100%, /* links unten */
        -10% 50% /* links oben */
    );
    transform: rotate(90deg);
}
  
.down {
    grid-column: 2;
    grid-row: 3;
    width: 80px;
    margin-left: -15px;
    clip-path: polygon(
        50% 0%, /* oben Spitze */
        110% 50%, /* rechts oben */
        75% 100%, /* rechts unten */
        25% 100%, /* links unten */
        -10% 50% /* links oben */
    );
    transform: rotate(180deg);
}






.keys {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
}

.keys button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
    height: 30px;
}

.keys button:hover {
    background-color: #444;
}


.actions {
    display: flex;
    flex-direction: column;
}

.label {
    height: 16px;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    margin-top: -10px;
}
.shift {
    font-weight: 600;
    color: rgb(208, 173, 0);
}
.alpha {
    font-weight: 600;
    color: rgb(255, 0, 98);
}
.alpha-blue {
    font-weight: 600;
    color: rgb(34, 0, 255);
}
