<div class="calculator">

    <div class="dpad">
      <button class="arrow up">^</button>
      <button class="arrow left">^ </button>
      <button class="arrow right">^</button>
      <button class="arrow down">^</button>
    </div>
  
    <div class="keys">
      <div class="circles">
        <div class="c-label shift">Shift</div>
        <div class="circle"></div>
      </div>
      <div class="circles">
        <div class="c-label alpha">Alpha</div>
        <div class="circle"></div>
      </div>
      <div></div>
      <div></div>
      <div class="circles">
        <div class="c-label">
          <div class="overLabel">
            <span>MENU&nbsp;</span>
            <span class="shift">SETUP</span>
          </div>
        </div>
        <div class="circle"></div>
      </div>
      <div class="circles">
        <div class="c-label">ON</div>
        <div class="circle"></div>
      </div>



      <div class="actions">
        <div class="label">
          <div class="shift">QR</div>
        </div>
        <button>OPTN</button>
      </div>
      <div class="actions">
        <div class="label">
          <div class="shift">=</div>
        </div>
        <button>CALC</button>
      </div>
      <div></div>
      <div></div>
      <div class="actions">
        <div class="label">
          <div class="shift">Ext</div>
        </div>
        <button>E</button>
      </div>
      <div class="actions">
        <div class="label">
          <div class="shift">:</div>
        </div>
        <button>x</button>
      </div>
  


      <div class="actions">
        <div class="label">
          <div class="shift">x°/.</div>
          <div class="alpha">:R</div>
        </div>
        <button>°/.</button>
      </div>
      <div class="actions">
        <div class="label">
          <div class="shift">x°/.</div>
          <div class="alpha">:R</div>
        </div>
        <button>SQR</button>
      </div>
      <div class="actions">
        <div class="label">
          <div class="shift">x³</div>
          <div class="alpha-blue">DEC</div>
        </div>
        <button>x²</button>
      </div>
      <div class="actions">
        <div class="label">
          <div class="shift">V</div>
          <div class="alpha-blue">HEX</div>
        </div>
        <button>xⁿ</button>
      </div>
      <div class="actions">
        <div class="label">
          <div class="shift">10²</div>
          <div class="alpha-blue">BIN</div>
        </div>
        <button>log</button>
      </div>
      <div class="actions">
        <div class="label">
          <div class="shift">eⁿ</div>
          <div class="alpha-blue">OCT</div>
        </div>
        <button>ln</button>
      </div>



      <div class="actions">
        <div class="label">
          <div class="shift">log</div>
          <div class="alpha">A</div>
        </div>
        <button>(-)</button>
      </div>
      <div class="actions">
        <div class="label">
          <div class="shift">FACT</div>
          <div class="alpha">B</div>
        </div>
        <button>° ‘ ’’</button>
      </div>
      <div class="actions">
        <div class="label">
          <div class="shift">x!</div>
          <div class="alpha">C</div>
        </div>
        <button>x⁻¹</button>
      </div>
      <div class="actions">
        <div class="label">
          <div class="shift">sin¹</div>
          <div class="alpha">D</div>
        </div>
        <button>sin</button>
      </div>
      <div class="actions">
        <div class="label">
          <div class="shift">cos¹</div>
          <div class="alpha">E</div>
        </div>
        <button>cos</button>
      </div>
      <div class="actions">
        <div class="label">
          <div class="shift">tan¹</div>
          <div class="alpha">F</div>
        </div>
        <button>tan</button>
      </div>
  


      <div class="actions">
        <div class="label">
          <div class="shift">RECALL</div>
        </div>
        <button>STO</button>
      </div>
      <div class="actions">
        <div class="label">
          <div class="shift">&lt;-</div>
        </div>
        <button>ENG</button>
      </div>
      <div class="actions">
        <div class="label">
          <div class="shift">Abs</div>
        </div>
        <button>(</button>
      </div>
      <div class="actions">
        <div class="label">
          <div class="shift">;</div>
          <div class="alpha">x</div>
        </div>
        <button>)</button>
      </div>
      <div class="actions">
        <div class="label">
          <div class="shift">abc</div>
          <div class="alpha">y</div>
        </div>
        <button>S-D</button>
      </div>
      <div class="actions">
        <div class="label">
          <div class="shift">M-</div>
          <div class="alpha">M</div>
        </div>
        <button>M+</button>
      </div>
    </div>
  </div>